<!-- Seccion hero -->
<section>
    <figure class="w-full h-120 md:h-[600px] relative overflow-hidden flex justify-center items-center">
        <img src="assets/images/fondo.jpg" alt="fondo-hero" class="w-full h-auto object-cover">
    </figure>
</section>

<!-- Ubicacion y horarios -->
<section class="grid grid-cols-1 md:grid-cols-2 gap-8 border-b border-secondary py-8 px-4 md:px-12 border-b-4 ">
    <article class="flex items-center justify-start  space-x-4 text-left md:text-center  pb-2">
        <h3 class="text-xl md:text-3xl font-secondary text-primary whitespace-nowrap">
            UBICACIÓN:
        </h3>
        <p class="text-text font-primary">
            Calle de Don Ramón dela Cruz, 48, Madrid
        </p>
    </article>
    <article class="flex items-center justify-start  space-x-4 text-left md:text-center  pb-2">
        <h3 class="text-xl md:text-3xl font-secondary text-primary whitespace-nowrap">
            HORARIOS:
        </h3>
        <p class="text-text font-primary">
            Lunes a Viernes: 9:00 - 20:00
        </p>
    </article>
</section>
<section class="bg-fondo">
    <article></article>
    <article></article>
</section>