<div class="flex flex-col md:flex-row gap-4 md:gap-12 px-8 md:px-16 py-6 md:py-12 text-2xl md:text-3xl items-center">

    <div class="flex flex-col md:flex-row gap-4 md:gap-8">
        <div [ngClass]="{
        'bg-secondary text-white rounded-full': esPaso1Activo(),
        'text-text bg-transparent': !esPaso1Activo()
      }" class="w-12 h-12 flex items-center justify-center">
            <p class="font-secondary">1</p>
        </div>
        <div class="flex items-center justify-center">
            <p class="font-primary">Fecha y hora</p>
        </div>
    </div>

    >

    <div class="flex flex-col md:flex-row gap-4 md:gap-8">
        <div [ngClass]="{
        'bg-secondary text-white rounded-full': esPaso2Activo(),
        'text-text bg-transparent': !esPaso2Activo()
      }" class="w-12 h-12 flex items-center justify-center">
            <p class="font-secondary">2</p>
        </div>
        <div class="items-center justify-center">
            <p class="font-primary">Datos de contacto</p>
        </div>
    </div>

</div>